<!DOCTYPE html>
<html style="height: 100%;" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>LC certificate</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div style="margin: 85px auto;" class="login-box">
    <h2>Course Edit form</h2>
    <form style="margin: 65px 0;" id='add_c' action='/add_course' method='post'>
            <div class="user-box">
            <input type="text" id="course" name="course" required>
            <label for="course">Enter course name<span style="color: lime;">*</span>:</label> 
            </div>
            <div class="b1">
            <button class="glow-on-hover"  id="submi" form="add_c" value="Submit" type="submit">Add course</button>
            </div> 
    </form>
    <h1 style="color: chartreuse; text-align:center; margin:10px 0" id="OR">OR</h1>
    <form style="margin: 65px 0;" id='delete_c' action='/delete_course' method='post'>
        <div class="user-box">
        <p style="color: aliceblue;">Select course to delete: <select name="course" id="course">
            {{#each courses}}
                <option>{{this}}</option>
            {{/each}}
            </select>
        </p>    
        </div>
        <div class="b1">
            <button class="glow-on-hover"  id="submits" form="delete_c" value="Submit" type="submit">Delete</button>
        </div> 
    </form>
    </div>
    <script>
    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
        console.log("fff");
        location.reload(true);
    }
    </script>
</body>

</html>