<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>LC certificate</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="login-box">
    <h2>Leaving Certicate Form</h2>
    <form id="subs" action="/LC" method="post">
        <div class="user-box">
        <input type="text" id="reg_num" name="reg_num" required>
        <label for="name">Registration No.<span style="color: lime;">*</span>:</label>
        <a style="text-align: center;" id="find" onclick="go()" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Find
        </a>
        </div>
        <div class="user-box">
        <input type="name" id="fname" name="fname" required  >
        <label for="lname">Name of the Candidate<span style="color: lime;">*</span>:</label> 
        </div>
        <div class="user-box">
        <input type="text" id="religion" name="religion" required="">
        <label for="religion">Religion:</label> 
        </div>
        <div class="user-box">
        <input type="text" id="caste" name="caste" required="">
        <label for="caste">Caste:</label>
        </div>        
        <div class="user-box">
        <input type="text" id="subcaste" name="subcaste" required="">
        <label for="subcaste">Sub-Caste:</label>
        </div>
        <div class="user-box">
        <input type="text" id="pob" name="pob" required  >
        <label for="pob">Place of Birth:<span style="color: lime;">*</span></label>
        </div>
        <div class="user-box">
        <input required id="dob" name="dob" class="box"> 
        <label for="dob">Date of Birth<span style="color: lime;">*</span>: </label>
        </div>
        <div class="user-box">
        <input type="text" id="institute" name="institute" required  >
        <label for="institute">Institute Last Attended<span style="color: lime;">*</span>: </label>
        </div>
        <div class="user-box">
        <input id="doa" required name="doa" class="box">
        <label for="doa">Date of Addmission<span style="color: lime;">*</span>: </label>
        </div>
        <div class="user-box">
        <label style="position: relative;" for="leave">Date of leaving the institution<span style="color: lime;">*</span>:</label>
        <input type="Date" id="leave" required name="leave" class="box">
        </div>
        <div class="user-box">
        <select style="width:12rem; border-radius: 10px; height: 2rem; background:rgba(0,0,0,.5); color: #03e9f4;" name="pet-select" id="pet-select" required class="box">
            <option value="">Choose Your Course</option>
            <option value="Civil Engineering">Civil Engineering</option>
            <option value="Civil & Infrastructure Engineering">Civil & Infrastructure Engineering</option>
            <option value="Electronics Engineering">Electronics Engineering</option>
            <option value="Computer Engineering">Computer Engineering</option>
            <option value="Information Engineering">Information Engineering</option>
            <option value="Artificial Intelligence & Data Science">Artificial Intelligence & Data Science</option>
            <option value="Mechanical Engineering"> Mechanical Engineering</option>
            <option value="Chemical Engineering">Chemical Engineering</option>
            <option value="Humanities & Science">Humanities & Science</option>
        </select>
        </div>
        <div class="user-box">
        <label style="position: relative;" for="study">Course From<span style="color: lime;">*</span>:</label> 
        <input type="Date" id="study" name="study" required min=" 2016-05" value=" 2016-07" class="sub-box-1">
        </div>
        <div class="user-box">
        <label style="position: relative;" for="till">To<span style="color: lime;">*</span>:</label> 
        <input type="Date" id="till" name="till" required min=" 2020-03" value=" 2020-05" class="sub-box-1">
        </div>
        <div class="user-box">
        <input name="CGPI" id="CGPI"  required class="sub-box-1">
        <label for="CGPI">CGPI<span style="color: lime;">*</span>:</label>
        </div>
        <a href="#" onclick="sub()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
        </a>
    </form>
    </div>
    <script type="text/javascript">
    $(function() {
    $("#reg_num").autocomplete({
    name: 'reg_num',
    source: '/search?key=%QUERY',
    limit: 4,
    select: function (e, ui) {
        alert('Data fetched Successfully');
    },
    change: function (e, ui){
        var x = document.getElementById("reg_num").value;
        $.get('/all_data',{GR_NO:x},
        function (data, status) {
            document.getElementById("fname").value = data[0].Candidate_Name;
            document.getElementById("religion").value = data[0].Religion;
            document.getElementById("caste").value = data[0].Caste;
            document.getElementById("subcaste").value = data[0].sub_caste;
            document.getElementById("pob").value = data[0].Birth_Place;
            var isDate = function(date) {
                return (new Date(date) !== "Invalid Date") && !isNaN(new Date(date));
            }
            
            if(isDate(data[0].DOB)){
                console.log('yes');
                let output = new Date(data[0].DOB);
                document.getElementById("dob").value = output.toLocaleDateString();
            }else{
                console.log('no');
                let parts = data[0].DOB.split(' ')[0].split("/");
                let d1 = new Date(Number(parts[2]), Number(parts[1]) - 1, Number(parts[0]));
                document.getElementById("dob").value = d1.toLocaleDateString();
            }

            document.getElementById("institute").value = data[0].Last_College_Name;
            if(isDate(data[0].Date_of_admission)){
                console.log('yes');
                let output = new Date(data[0].Date_of_admission);
                document.getElementById("doa").value = output.toLocaleDateString();
            }else{
                console.log('no');
                let parts = data[0].Date_of_admission.split(' ')[0].split("/");
                let d1 = new Date(Number(parts[2]), Number(parts[1]) - 1, Number(parts[0]));
                document.getElementById("doa").value = d1.toLocaleDateString();
            }
        });
    }
    });
    });

    function go(){
        var x = document.getElementById("reg_num").value;
        $.get('/all_data',{GR_NO:x},
        function (data, status) {
            document.getElementById("fname").value = data[0].Candidate_Name;
            document.getElementById("religion").value = data[0].Religion;
            document.getElementById("caste").value = data[0].Caste;
            document.getElementById("subcaste").value = data[0].sub_caste;
            document.getElementById("pob").value = data[0].Birth_Place;
            var isDate = function(date) {
                return (new Date(date) !== "Invalid Date") && !isNaN(new Date(date));
            }

            if(isDate(data[0].DOB)){
                console.log('yes');
                let output = new Date(data[0].DOB);
                document.getElementById("dob").value = output.toLocaleDateString();
            }else{
                console.log('no');
                let parts = data[0].DOB.split(' ')[0].split("/");
                let d1 = new Date(Number(parts[2]), Number(parts[1]) - 1, Number(parts[0]));
                document.getElementById("dob").value = d1.toLocaleDateString();
            }

            document.getElementById("institute").value = data[0].Last_College_Name;
            if(isDate(data[0].Date_of_admission)){
                console.log('yes');
                let output = new Date(data[0].Date_of_admission);
                document.getElementById("doa").value = output.toLocaleDateString();
            }else{
                console.log('no');
                let parts = data[0].Date_of_admission.split(' ')[0].split("/");
                let d1 = new Date(Number(parts[2]), Number(parts[1]) - 1, Number(parts[0]));
                document.getElementById("doa").value = d1.toLocaleDateString();
            }
        });
    }
    function sub() {
    document.getElementById("subs").submit();
    }
    </script>
</body>

</html>