<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>LC certificate</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <h1 id="head"> DATTA MEGHE COLLEGE OF ENGINEERING</h1>
        <h2 id="subhead">Leaving Certificate</h2>
    </div>

    <form action="/LC" method="post">
        <div class="main_content" id="con_1">
            <label for="name">Registration Number of candidate<span style="color: black;">*</span>:</label> <br><br>
            <input type="text" id="reg_num" name="reg_num" requiblack  size="20"
                placeholder=" Registration Number" class="box">
            <button type="button" onclick="go()">Find</button>    
            <br><br>
            <!-- <h3>Name of candidate: </h3> -->
            <label for="lname">Name of the Candidate<span style="color: black;">*</span></label>  <br><br>
            <input type="name" id="fname" name="fname" requiblack  size="20"
                placeholder="full_name" class="box">
            <br><br>
            <label for="religion">Religion </label>  <br><br>
            <input type="text" id="religion" name="religion" placeholder="Religion"  size="20"
                class="box">
            <br><br>
            <label for="caste">Caste </label>  <br><br>
            <input type="text" id="caste" name="caste" placeholder="caste"  size="20" class="box">
            <br><br>
            <label for="subcaste">Sub-Caste </label> <br><br>
            <input type="text" id="subcaste" name="subcaste" placeholder="subcaste"  size="20"
                class="box">
            <br><br>
            <label for="pob">Place of Birth<span style="color: black;">*</span></label>  <br><br>
            <input type="text" id="pob" name="pob" placeholder="Place of birth" requiblack  size="20" class="box">
            <br><br>
            <label for="nation">Nationality<span style="color: black;">*</span></label>  <br><br>
            <input type="text" id="nation" name="nation" value="Indian" requiblack  size="20" class="box">
            <br><br>
            <label for="dob">Date of Birth according to Christian era,In figure<span style="color: black;">*</span>: </label>  <br><br>
            <input placeholder="dd-mm-yyyy" requiblack id="dob" name="dob" class="box">
            <br><br>
            <label for="words">in Words <span style="color: black;">*</span></label> <br><br>
            <input type="text" id="words" name="words" requiblack  size="20" class="box">
            <br><br>
            <label for="institute">Institute Last Attended<span style="color: black;">*</span>: </label>  <br><br>
            <input type="text" id="institute" name="institute" requiblack  size="20"
                class="box">
            <br><br>
            <label for="doa">Date of Addmission in this college<span style="color: black;">*</span>: </label>  <br><br>
            <input id="doa" requiblack name="doa" class="box">
            <br><br>
            <label for="progress">Progress<span style="color: black;">*</span>: </label>  <br><br>
            <input type="text" id="progress" value="Good" name="progress" requiblack  size="20"
                class="box">
            <br><br>
            <label for="conduct">Conduct<span style="color: black;">*</span>: </label>  <br><br>
            <input type="text" id="conduct" value="Good" name="conduct" requiblack  size="20" class="box">
            <br><br>
            <label for="leave">Date of leaving the institution<span style="color: black;">*</span>:</label>  <br><br>
            <input type="month" id="leave" requiblack name="leave" value="2020-05" class="box">
            <br><br>
            <label for="pet-select">Choose Your Course<span style="color: black;">*</span>:</label><br><br>
            <select name="pet-select" id="pet-select" required class="box">
                <option value="">--Please choose an option--</option>
                <option value="Civil Engineering">Civil Engineering</option>
                <option value="Civil & Infrastructure EngiElectronics Engineering">Civil & Infrastructure Engineering</option>
                <option value="Electronics Engineering">Electronics Engineering</option>
                <option value="Computer Engineering">Computer Engineering</option>
                <option value="Information Engineering">Information Engineering</option>
                <option value="Artificial Intelligence & Data Science">Artificial Intelligence & Data Science</option>
                <option value="Mechanical Engineering"> Mechanical Engineering</option>
                <option value="Chemical Engineering">Chemical Engineering</option>
                <option value="Humanities & Science">Humanities & Science</option>
            </select>
            <br><br>
            <label for="study">course from<span style="color: black;">*</span> </label> 
            <input type="month" id="study" name="study" requiblack min=" 2016-05" value=" 2016-07" class="sub-box-1">
            <label for="till">to<span style="color: black;">*</span></label> 
            <input type="month" id="till" name="till" requiblack min=" 2020-03" value=" 2020-05" class="sub-box-1">
            <br><br>
            <label for="reason">Reason for leaving institution(Optional):</label>  <br><br>
            <textarea name="reason" id="reason" placeholder=" Write Here" class="sub-box-2"></textarea>
            <br><br>
            <label for="remarks">Remarks(Optional):</label> <br><br>
            <textarea name="remarks" id="remarks" placeholder=" Write Here" class="sub-box-2"></textarea>
            <br><br>
            <label for="CGPI">CGPI<span style="color: black;">*</span>:</label> <br><br>
            <input name="CGPI" id="CGPI" placeholder=" CGPI" requiblack class="sub-box-1">
            <button type="submit" value="Submit" class="button">Proceed and Print</button>
    </form>
    <script type="text/javascript">
    $(function() {
    $("#reg_num").autocomplete({
    name: 'reg_num',
    source: 'https://leavingcertificate.herokuapp.com/search?key=%QUERY',
    limit: 4,
    select: function (e, ui) {
        alert('Data fetched Successfully');
    },
    change: function (e, ui){
        var x = document.getElementById("reg_num").value;
        $.get('https://leavingcertificate.herokuapp.com/all_data',{GR_NO:x},
        function (data, status) {
            document.getElementById("fname").value = data[0].Candidate_Name;
            document.getElementById("religion").value = data[0].Religion;
            document.getElementById("caste").value = data[0].Caste;
            document.getElementById("subcaste").value = data[0].sub_caste;
            document.getElementById("pob").value = data[0].Birth_Place;
            document.getElementById("dob").value = data[0].DOB.split(' ')[0];
            document.getElementById("institute").value = data[0].Last_College_Name;
            document.getElementById("doa").value = data[0].Date_of_admission.split(' ')[0];;
        });
    }
    });
    });

    function go(){
        var x = document.getElementById("reg_num").value;
        $.get('https://leavingcertificate.herokuapp.com/all_data',{GR_NO:x},
        function (data, status) {
            document.getElementById("fname").value = data[0].Candidate_Name;
            document.getElementById("religion").value = data[0].Religion;
            document.getElementById("caste").value = data[0].Caste;
            document.getElementById("subcaste").value = data[0].sub_caste;
            document.getElementById("pob").value = data[0].Birth_Place;
            document.getElementById("dob").value = data[0].DOB.split(' ')[0];
            document.getElementById("institute").value = data[0].Last_College_Name;
            document.getElementById("doa").value = data[0].Date_of_admission.split(' ')[0];;
        });
    }
    </script>
</body>

</html>