<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LC certificate</title>
    <link rel="stylesheet" href="css/LC.css">
    {{!-- <link rel="stylesheet" href="css/print.css"> --}}
</head>
<body>
    <div class="container">
    <div class="inner_container">
    <header>
        <h1 id = "head">DATTA MEGHE COLLEGE OF ENGINEERING, AIROLI</h1>
        <div class="inner_heading">
        <img id = "dmce_logo" src="images/DMCE_LOGO.png" alt="DMCE_LOGO">
        <h3 id = "address">CIDCO, SECTOR - 3, AIROLI, NAVI MUMBAI - 400 708.</h3>
        <h2>LEAVING CERTIFICATE</h2>
        <p class="Lc_num">No :   <span style="color: red;">14926</span></p>
        </div>
    </header>
    <div class="main_section">
        <pre><p>1) Registration number of candidate <span class="underline">  --2018FHEL008--</span></p></pre>
        <pre><p>2) Name of the candidate <span class="underline">  Washwe Suraj Balkrushna Manisha</span></p></pre>
        <pre class="sml"><p><span>3) Religion <span class="underline">  Hindu </span></span><span>Caste<span class="underline"> mali </span></span><span> Subcaste <span class="underline"> --</span></span></p></pre>
        <pre class="sml"><p><span>4) Place of birth <span class="underline"> Junnar Dist Pune </span></span><span> Nationality <span class="underline"> -- </span></span></p></pre>
        <pre><p>5) Date of Birth according to<br>    Christian era, in Figures (DD-MM-YYYY) <span class="underline"> <br> 17-04-1997 </span></p></pre>
        <pre><p>    in words <span class="underline"> Seventeenth of April Nineteen ninety seven</span></p></pre>
        <pre><p>6) Institute Last attended <span class="underline"> B.N. Bandodkar College of Science, Thane </span></p></pre>
        <pre><p>7) Date of Admission in this College (DD-MM-YYYY) <span class="underline"> 29-07-2015 </span></p></pre>
        <pre class="sml"><p><span>8) Progress <span class="underline"> Good </span></span><span> 9) Conduct <span class="underline"> Good </span></span></p></pre>
        <pre><p>10) Date of leaving the institution <span class="underline"> October 2020 </span></p></pre>
        <pre><p>11) Course and year in which studying and since when <span class="underline"> B.E Civil Engineering </span></p></pre>
        <pre><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="underline">Course From July 2015 To Octotber 2020 </span></p></pre>
        <pre><p>12) Reason for leaving the institution <span class="underline"> BE Civil Engineering Passed in october </span></p></pre>
        <pre><p>13) Remarks <span class="underline"> BE Civil Engineering Passed with CGPI 6.22 </span></p></pre>
    </div>
    <footer>
        <h3>Certified that the above information is in accordance with the institute's Record</h3>
        <div class="grid-container signs">
        <div class="item1">
        <pre>
        DATE : 13-12-2021
        PLACE : Airoli 
                      Navi Mumbai  
        </pre>
        </div>
        <div class="item2" style="text-align: center;">
            <u style="margin-bottom: 5px; display:block;">_______________</u>
            <i>Prepared by</i>
        </div>
        <div class="item3" style="text-align: center;">
            <u style="margin-bottom: 5px; display:block;">_______________</u>
            <i>Checked by</i>
        </div>  
        <div class="item4" style="text-align: center;">
            <u style="margin-bottom: 5px; display:block;">_______________</u>
            <i>PRINCIPAL</i>
            <p>Datta Meghe College of Engineering</p>
            <p>Airoli</p>
        </div> 
        </div>
        <button class="button" style="margin:0 auto; width: 50%; background-color:chartreuse; padding: 10px;" id="printPageButton" onClick="window.print();">Print</button>
    </footer>
    </div>
    </div>
</body>
</html>