
      body {
        margin:0;
        padding:0;
        font-family: cursive;
        background: linear-gradient(#141e30, #243b55);
      }
      #find{
        display: none;
      }
      .login-box {
        margin: 50px auto;
        width: 500px;
        padding: 40px;
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
      }
      
      .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #03e9f4;
        text-align: center;
      }
      
      .login-box .user-box {
        position: relative;
      }
      
      .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
      }
      .login-box .user-box label {
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
      }
      
      .login-box .user-box input:focus ~ label,
      .login-box .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: #03e9f4;
        font-size: 12px;
      }

      .b1 {
        display: grid;
      }
      
      .b1 .glow-on-hover {
    
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
    }
    .b1 .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowingBone 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    
    .b1 .glow-on-hover:active {
        color: #000
    }
    
    .b1 .glow-on-hover:active:after {
        background: transparent;
    }
    
    .b1 .glow-on-hover:hover:before {
        opacity: 1;
    }
    
    .b1 .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    
     @keyframes glowingBone {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }

      ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    @media only screen and (max-width: 480px) {
      .login-box{
          width: 350px;
          margin: 30px auto;
      }
      #find{
        display: block;
        margin-bottom: 20px;
      }
  }

  .ui-widget-content{
    background-color: black;
    color: #03e9f4;
  }